<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_sensors_wearos">
    <!-- Required for ambient mode support -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Flags the app as a Wear app -->
    <uses-feature android:name="android.hardware.type.watch" />

    <!-- KEEP THE application tag ATTRIBUTES AS IT IS -->
    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="wear_demo"
        android:icon="@mipmap/ic_launcher">

        <!-- REPLACE THE PART STARTING FROM BELOW -->
        <!-- Flags that the app doesn't require a companion phone app -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.app.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />

            <meta-data
                android:name="io.flutter.app.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background"
                />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- TILL THE ABOVE LINE -->
    </application>


</manifest>
